@charset "utf-8";
@font-face { 
  font-family: 'yg-jalnan'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: 'Eoe_Zno_B'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_B.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: 'CookieRun Regular'; 
  src: url('fonts/CookieRun\ Regular.ttf') format('ttf') 
       url('fonts/CookieRun\ Regular.otf') format('otf');
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: 'CookieRun Bold'; 
  src: url('fonts/CookieRun\ Bold.ttf') format('ttf') 
       url('fonts/CookieRun\ Bold.otf') format('otf');
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: 'CookieRun Black'; 
  src: url('fonts/CookieRun\ Black.ttf') format('ttf') 
       url('fonts/CookieRun\ Black.otf') format('otf');
  font-weight: normal; 
  font-style: normal; 
}